<div class="dialogTodo">   

  <div style="text-align: center"><h4> Edit Modal <button (click)="close()" style="float: right">X</button></h4>  </div>
  <hr>
  <div class="row">
      <div class="col-md-10" style="margin-top:5px; margin-left: 50px;">
         Text: <input type="text"  value=" "[(ngModel)]="data.todo.title">
       
      </div>
      </div>
      <div class="row" >
        <div class="col-md-10" style="margin-left: 50px;  margin-top: 25px;">
    <button mat-button [mat-dialog-close]="data.todo" cdkFocusInitial style="width:50px; float: left; height:50px; margin-left: 25px; ">Save</button>
          <button (click)="close()"style="height:50px;">Cancel</button>
        </div>
      </div>
     
  </div>